<!DOCTYPE html>
<html lang="en">

<fragment id="head" />

<body>
    <div class="hero-unit">
        <!-- Navbar -->
        <fragment id="navbar" />
        <!-- Home content -->
        <div class="home-container">
            <h1>Welcome to Guess the Number Game!</h1>
            <div class="break"></div>
            <p>Click on the "Play" button to start the game.</p>
            <div class="break"></div>
            <p>
                <a id="play-button" class="btn btn-primary btn-large">Click to Play</a>
            </p>
            <div class="break"></div>
            <!-- Footer -->
            <fragment id="footer" />
        </div>
    </div>
</body>
</html>