<fragment xmlns:th="http://www.thymeleaf.org">

  <nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Guess the number game</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a th:href="${homeUrl}" th:class="${currentUrl} == ${homeUrl}
            ? 'nav-link active'
            : 'nav-link' "
               class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a th:href="${playUrl}" th:class="${currentUrl} == ${playUrl}
            ? 'nav-link active'
            : 'nav-link' "
               class="nav-link active" href="#">Play</a>
          </li>
          <li class="nav-item">
            <a th:href="${aboutUrl}" th:class="${currentUrl} == ${aboutUrl}
            ? 'nav-link active'
            : 'nav-link' "
               class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</fragment>
